body{
    font-family: 'Quicksand', sans-serif;
}
.header{
}
.header > .row {
    margin-top: 30px;
}
.name{
    color: #f1bd00;
    font-style: italic;
}
.title{
    color: #ccbfbf;
    font-style: italic;
    letter-spacing: 3px;
}
.languages{
    color: #a93bce;
}
h4{
    color: rgb(56, 55, 55);
}
.photo{
}
.myphoto{
    width: 200px;
    height: 200px;
    border-radius: 35%;
   
}
.info-left{
    border-right: 2px solid rgb(45, 44, 44);
}
