body{
    background-color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
}
.header{
    background-color: #242121;
}
.header > .row {
    margin-top: 30px;
}
.name{
    color: #f1bd00;
    font-style: italic;
}
.title{
    color: #ccbfbf;
    font-style: italic;
    letter-spacing: 3px;
}
.languages{
    color: #a93bce;
}
h4{
    color: white;
}
.myphoto{
    
    margin: 0 auto;
}
